{% extends 'base.html' %}

{% block content %}
<br>
<br>
<div>
    <img src="{{ url_for('static', filename='converea1.jpg') }}" width="1000" style="margin-left: auto; margin-right: auto; display: block;">
    <div class="carousel-caption d-none d-md-block">
        <h5>AIoT Catglass SmartFarm </h5>
        <p>똥손 집사들을 위한 AIoT 캣글라스 스마트팜</p>
    </div>
</div>

<br>
<br>

<div class="container marketing">
    <!-- four columns of text below the carousel -->
    <div class="row">

        <div class="col-lg-4">
            <img src="{{ url_for('static', filename='monitor.jpg') }}" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="...">

            <h2>Monitoring</h2>
            <p>캣팜 센서 모니터링</p>
            <p><a class="btn btn-outline-success" href="{{url_for('monitor')}}">보러가기 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img src="{{ url_for('static', filename='board.jpg') }}" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="...">

            <h2>Board</h2>
            <p>캣팜 센서 대시보드</p>
            <p><a class="btn btn-outline-success" href="{{url_for('board', type = 'tp')}}">보러가기 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <!--객체탐지 웹앱 운영을 위한 소스추가-->
        <div class="col-lg-4">
            <img src="{{ url_for('static', filename='cat.jpg') }}" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="...">
            <h2>Detect</h2>
            <p>고양이 탐지 대시보드</p>
            <p><a class="btn btn-outline-success" href="{{url_for('detect_userfile')}}">보러가기 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->



    </div><!-- /.row -->



</div><!-- /.container -->



{% endblock %}
