{% extends 'base_table.html' %}
{% block content %}

<head><meta http-equiv="refresh" content="3"></head>

<table class="table">
    <thead>
    <tr>
        <th scope="col">시간</th>
        <th scope="col">객체</th>
        <th scope="col">현황</th>
        <th scope="col">출처</th>
        <th scope="col">파일명</th>
        <th scope="col">비고</th>
    </tr>
    </thead>

    <tbody>
    {% for t in data %}
    <tr>
        <td>{{ t.update_time }}</td>
        <td>{{ t.class }}</td>
        <td>{{ t.count }}</td>
        <td>{{ t.input }}</td>
        <td>{{ t.filename }}</td>
        {% set img_path = "./static/secret/output/" + (t.filename|string) %}
        <td><p1><a class="btn btn-secondary" href={{img_path}} download={{t.filename}} >캡쳐 화면</a></p1></td>
<!--        <td><p1><a class="btn btn-secondary" href={{url_for('static', filename=t.filename)}} download={{t.filename}} >캡쳐 화면</a></p1></td> -->
    </tr>
    {% endfor %}

    </tbody>

</table>

{% endblock %}
