{% extends 'base.html' %}

{% block content %}
<br>
<br>
    <div class="py-3 text-center">
      <h2>디바이스 조회</h2>
    </div>

    <div class="row justify-content-center">
        <form class="col-4 p-md-5 border rounded-3 bg-light" action="/login" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">제품명(DB Collection ID)</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>

            <div class="mb-3">
                <label for="d_id" class="form-label">제품 모델 넘버(DB Document ID)</label>
                <input type="text" class="form-control" id="d_id" name="d_id">
            </div>

            <button type="submit" class="btn btn-primary">submit</button>
        </form>
    </div>
    {% if alert %}
    <div class="row mt-3 justify-content-center">
        <div class="col-4 alert alert-danger" role="alert">
            입력 정보가 유효하지 않습니다.
        </div>
    </div>
    {% endif %}

{% endblock %}
