{% extends 'base.html' %}

{% block content %}
<!--<head>-->
<!--    <meta http-equiv="refresh" content="0.5">-->
<!--</head>-->
    <div class="py-3 text-center">
      <h2>고양이 탐지 대시보드</h2>
      <p class="lead">냠냠</p>
    </div>

    <div class="video-container">
        <img src="{{ url_for('webcam') }}" class="center">
    </div>


    <table>
    <tr>
        <td>WebCam<br>before detect </td>
        <td>Detect<br>after detect</td>
    </tr>
    <tr>
        <td><canvas id="canvas" width="416" height="416" style="background-color: grey"></canvas></td>
        <td><img id="image" src="" width="416" height="416" style="background-color: grey"></td>
    </tr>
    </table>

    <h3>Detect History</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">탐지시간</th>
                <th scope="col">탐지결과</th>
            </tr>
        </thead>
        <tbody>
        {% for t in times %}
            <tr>
                <td>{{ t.update_time }}</td>
                <td>{{ t.result }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
