{% extends 'base.html' %}

{% block content %}

    <div class="py-3 text-center">
      <h2>나의 고양이들 상황 모니터링</h2>
      <p class="lead">나를 찾아주세요.</p>
    </div>
<!--
    <div class="video-container">
        <img src="{{ url_for('cat_webcam') }}" class="center">
    </div>
-->

    <h3>History</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">탐지시간</th>
                <th scope="col">탐지결과</th>
            </tr>
        </thead>
        <tbody>
        {% for t in times %}
            <tr>
                <td>{{ t.update_time }}</td>
                <td>{{ t.result }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
